@charset "UTF-8";

* {margin: 0;padding: 0;box-sizing: border-box;}
ul {list-style: none;}
a {text-decoration: none;color:inherit;}
body {background: #fff;color:#333;}

#wrap {width: 1000px;height: 650px;display: flex;}

header {width: 200px;height: 100%;background: #397ac5;}
header h1 {width: 100%;padding: 30px 0;text-align: center;}
header h1 img {width: 50px;}
nav {padding: 0 20px;text-align: center;position: relative;z-index: 999;}
nav > ul {background: #d2e2f5;}
nav > ul > li > a {display: block;padding: 10px 0;font-size: 16px;font-weight: bold;color:#084e9f;}
nav .sub {position: fixed;top:80px;left: 180px;width: 180px;height: 300px;background: #084e9f;display: none;}
nav .sub > li > a {display: block; padding: 10px 0;font-size: 16px;color:#fff;}
.inner {width: 800px;}
nav > ul > li:hover > a {background: #084e9f;color:#fff;}
nav .sub > li:hover > a {background: rgba(0,0,0,.3);}

.slide {width: 100%;height: 350px;position: relative;overflow: hidden;}
.slide > div {position: absolute;top:0;left: 0;width: 300%;height: 100%;display: flex;}
.slide > div > div {width: 800px;height: 100%;}
.s1 {background: url('../image/slidec4_1.jpg') no-repeat center / cover;}
.s2 {background: url('../image/slidec4_2.jpg') no-repeat center / cover;}
.s3 {background: url('../image/slidec4_3.jpg') no-repeat center / cover;}

.contents {width: 100%;height: 200px;display: flex;}
.contents > div {flex: 1;padding: 10px;}
.contents h2 {display: inline-block;padding: 5px 0;width:80px;text-align:center;font-size: 14px;color:#fff;background: #084e9f;border-radius: 10px 10px 0 0;}

.notice > ul {border-top: 3px solid #084e9f;}
.notice > ul > li {padding: 5px 0;display: flex;justify-content: space-between;border-bottom: 1px solid #397ac5;font-size: 12px;}

.gallery > ul {border-top: 3px solid #084e9f;display: flex;justify-content:space-between;padding: 5px 0;}
.gallery > ul > li {flex: 1;text-align: center;}
.gallery img {width: 95%;}

.banner > div {border-top: 3px solid #084e9f;padding-top: 5px;}
.banner a {display: block;height: 80px;background: url('../image/banner1.jpg') no-repeat center /cover;border-radius: 10px;text-align: center;}
.banner a p {padding-top: 25px;font-size: 24px;font-weight: bold;color: #fff;text-shadow: 0 0 5px rgba(0,0,0,.3);}

footer {width: 100%;height: 100px;background: #888;display: flex;align-items: center;justify-content: space-between;}
.f-logo {width: 100px;filter: grayscale(100%);text-align: center;}
.f-logo img {width: 30px;}
.f-con {font-size: 12px;color: #ccc;text-align: right;}
.f-con > ul {display: flex;}
.f-con > ul > li::after {content: '|';padding-left: 20px;padding-right: 20px;}
.f-con > ul > li:last-child::after {content: '';padding-right: 0;}
.f-con .copy {padding-right: 20px;}