/* #5e3bf5 */

@charset "UTF-8";

* {margin: 0;padding: 0;box-sizing: border-box;}
ul {list-style: none;}
a {text-decoration: none;color:inherit;}
img {max-width: 100%;}
body {background: #fff;color:#333;}

#wrap {position: relative;}

.inner {display: flex;width: 100%;height: 850px;}
header {width: 200px;height: 100%;background: #f8a949;}
header h1 {padding:40px 10px;}
nav {margin-top: 30px;padding:0 10px;}
nav > ul {width: 100%;background: #fff;border-radius: 10px;overflow: hidden;}
nav > ul > li > a {display: block;padding: 10px 20px;font-size: 18px;font-weight: bold;color:#5e3bf5;}
nav .sub {display: none;}
nav .sub > li > a {display: block;padding: 10px 20px;font-size: 16px;}
nav > ul > li:hover > a {background: #5e3bf5; color: #fff;}
nav .sub > li:hover > a {background: #ffcf93;}
header .spot {display: flex;justify-content: center;margin-top: 30px;margin-right: auto;margin-left: auto;text-align: center;}
header .spot > li:first-child::after {content: '|';padding:0 15px;}

.inner > div {width: calc(100% - 200px);position: relative;}
.slide {width: 100%;height: 400px;position: relative;overflow: hidden;}
.slide > div {position: absolute;top:0;left: 0;width: 100%;height: 300%;}
.slide > div > div {height: 400px;position: relative;}
.s1 {background: url('../image/slided1_1.jpg') no-repeat center / cover;}
.s2 {background: url('../image/slided1_2.jpg') no-repeat center / cover;}
.s3 {background: url('../image/slided1_3.jpg') no-repeat center / cover;}
.slide .txt {position: absolute;bottom: 30px;left: 30px;padding:10px 150px;background: rgba(255, 255, 255, 0.7);text-align: center;border-radius: 20px;}
.slide .txt h3 {font-size: 28px;}
.slide .txt p {font-size: 24px;}
.link {position: absolute;top:30px;right:30px;border-radius: 20px;overflow: hidden;background: #5e3bf5;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);}
.link > ul > li {width: 120px;height: 100px;padding:10px;text-align: center;}
.link a {display: block;border-bottom: 1px solid #fff;padding-bottom: 10px;}
.link li:last-child a {border-bottom: 0;}
.link a img {width: 50px;}
.link a p {color: #fff;}
.banner {width:100%;height: 200px;padding: 20px;}
.banner > a {display: flex;align-items: end;}
.banner .photo {width: 200px;height: 150px;margin-right: 20px;border-radius: 10px;overflow: hidden;}
.banner .photo img {width: 100%;height: 100%;object-fit: cover;}
.banner .txt {width: calc(100% - 200px);padding-bottom: 20px;}
.banner .txt h3 {font-size: 24px;}
.banner .txt p {font-size: 18px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.tab {width:100%;height: 250px;}
.tab > ul {display: flex;position: relative;padding: 20px;}
.tab > ul > li > a {display: block;padding:10px 0;width:150px;text-align: center;font-weight: bold;color: #5e3bf5;font-size: 18px;border-radius: 20px 20px 0 0;}
.tab > ul ul {position: absolute;width:calc(100% - 40px);height: auto;background: #5e3bf5;color: #fff;min-width:300px;}
.tab .notice li {padding: 10px;display: flex;justify-content: space-between;border-bottom: 1px solid #fff;}
.tab .notice a {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.tab .notice li:last-child {border-bottom: 0;}
.tab .gallery > div {display: none;}
.tab .gallery ul {display: flex;left:20px;height:167px;align-items: center;justify-content: space-between;}
.tab .gallery li {padding: 5px;height: 100%;}
.tab .gallery img {height: 100%;}

.tab .on {background: #5e3bf5;color:#fff;}

.popup {display: none;position: absolute;top:0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);}
.popup > div {position: absolute;top:50%;left: 50%;width: 300px;height: 200px;background: #fff;transform: translate(-50%, -50%);text-align: center;padding: 20px;}
.popup button {cursor: pointer;margin-top: 50px;}

footer {height: 100px;background: #5e3bf5;display: flex;align-items: center;}
footer h2 {width: 200px;text-align: center;}
footer h2 img {width: 100px;}
footer .copy {width: calc(100% - 400px);text-align: center;color:#fff;}
footer .sns {display: flex;width: 200px;}
footer .sns > li {margin-right: 10px;}
footer .sns a {background: #fff;border-radius: 20px;padding: 10px;}
footer .sns img {width: 20px;}